* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Science Gothic', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
}

.header {
    text-align: center;
    min-height: 50vh;
    padding-top: 10vh;
}

.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    min-height: 50vh;
    margin: 20px 0;
}

article {
    padding: 20px;
    width: 30%;
    text-align: center;
}
.businesses {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
span {
    padding: 35px 10px;
}

footer {
    text-align: center;
    padding: 20px;
}